laskarit/viikko2/unicafe/src/__pycache__/
laskarit/viikko2/unicafe/src/tests/__pycache__/
laskarit/viikko2/unicafe/.pytest_cache
laskarit/viikko2/maksukortti/.pytest_cache
laskarit/viikko2/maksukortti/src/__pycache__/
laskarit/viikko2/maksukortti/src/tests/__pycache__/
data/notes.txt
src/entities/notes.txt
src/repositories/notes.txt
src/services/notes.txt
src/ui/__pycache__/
src/__pycache__/
